db.sqlite3
.idea
database-data
media
*.pem
*.pyc
*__pycache__
src/static_root/
*dev.py
*.sqlite3
./venv
.venv
.env
./venv/
venv/
*.pid
src/media
./.vscode
.vscode
./.vscode/
debug.log
static_root

src/media_root

.webassets-cache/*
/static/.webassets-cache/*
/applications/django-web/src.sock
/celerybeat-schedule
/.pytest_cache/